body {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.hero {
  background-image: url("../images/background.jpg");
  margin: 20px auto;
  padding: 50px;
  color: black;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1 {
  font-size: 72px;
}
h3 {
  font-size: 14px;
  opacity: 0.7;
}
