body {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.hero {
  background: #f7edee;
  margin: 0 auto;
  padding: 50px;
  color: black;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-size: 72px;
  line-height: 1.5;
}

h3 {
  font-size: 12px;
  opacity: 0.8;
}

h2 {
  font-size: 27px;
  line-height: 1.5;
}

.button {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.content-container {
  text-align: center;
  margin: 40px auto;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content {
  padding: 30px;
  text-align: justify;
}
@media (max-width: 900px) {
  .content {
    text-align: center;
  }
}

img {
  width: 60%;
  margin: 30px;
  border-radius: 10px;
}
p {
  font-weight: normal;
  font-size: 15px;
}

.bg-grey {
  background: ghostwhite;
  border-radius: 10px;
}

.bg-pink {
  background: #f7edee;
  border-radius: 10px;
}

.food-description {
  margin: 60px 40px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: black;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: black;
}

footer .social-links a {
  margin: 0 20px;
  background: ghostwhite;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
