body {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.hero {
  background: #f7edee;
  margin: 40px auto;
  padding: 50px;
  color: black;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-size: 72px;
  line-height: 1.5;
}

h3 {
  font-size: 12px;
  opacity: 0.8;
}

.button {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.about-section {
  text-align: center;
  margin: 40px auto;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section-content {
  padding: 30px;
  text-align: justify;
}
@media (max-width: 900px) {
  .about-section-content {
    text-align: center;
  }
}

img {
  width: 50%;
  margin: 30px;
  border-radius: 10px;
}
p {
  font-weight: normal;
}

.bg-grey {
  background: ghostwhite;
  border-radius: 10px;
}

.bg-pink {
  background: #f7edee;
  border-radius: 10px;
}

.food-description {
  margin: 60px 40px;
}
